In [1]:
import numpy as np
import pandas as pd

In [2]:
games = pd.read_csv("vgchartz-2024.csv")

In [5]:
games.sample(5)

,img,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update
57663,/games/boxart/full_8576342AmericaFrontccc.jpg,Microsoft Flight Simulator (2020),XS,Simulation,Xbox Game Studios,Asobo Studio,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-31,2021-08-13
61700,/games/boxart/full_708604AmericaFrontccc.jpg,Disciples II: Rise of the Elves,PC,Strategy,Strategy First,Strategy First,NaN,NaN,NaN,NaN,NaN,NaN,2003-11-25,NaN
35110,/games/boxart/full_3589064JapanFrontccc.jpg,Hudson Best Collection Vol. 1: Bomberman Colle...,GBA,Misc,Hudson Soft,Hudson Soft,NaN,NaN,NaN,NaN,NaN,NaN,2005-12-22,NaN
40599,/games/boxart/full_crayon-shin-chan-arashi-o-y...,Crayon Shin-Chan: Arashi o Yobu Enji,GEN,Platform,Ma-Ba,Ma-Ba,NaN,NaN,NaN,NaN,NaN,NaN,1994-03-11,NaN
31008,/games/boxart/full_5700491JapanFrontccc.jpg,Champion Wrestler,VC,Fighting,Taito,Taito Corporation,NaN,NaN,NaN,NaN,NaN,NaN,2009-01-20,NaN

In [6]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64016 entries, 0 to 64015
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   img           64016 non-null  object
 1   title         64016 non-null  object
 2   console       64016 non-null  object
 3   genre         64016 non-null  object
 4   publisher     64016 non-null  object
 5   developer     63999 non-null  object
 6   critic_score  6678 non-null   float64
 7   total_sales   18922 non-null  float64
 8   na_sales      12637 non-null  float64
 9   jp_sales      6726 non-null   float64
 10  pal_sales     12824 non-null  float64
 11  other_sales   15128 non-null  float64
 12  release_date  56965 non-null  object
 13  last_update   17879 non-null  object
dtypes: float64(6), object(8)
memory usage: 6.8+ MB

In [10]:
games.describe()

,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales
count,6678.000000,18922.000000,12637.000000,6726.000000,12824.000000,15128.000000
mean,7.220440,0.349113,0.264740,0.102281,0.149472,0.043041
std,1.457066,0.807462,0.494787,0.168811,0.392653,0.126643
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.400000,0.030000,0.050000,0.020000,0.010000,0.000000
50%,7.500000,0.120000,0.120000,0.040000,0.040000,0.010000
75%,8.300000,0.340000,0.280000,0.120000,0.140000,0.030000
max,10.000000,20.320000,9.760000,2.130000,9.850000,3.120000

In [13]:
games.dropna(subset=["total_sales"], inplace=True)

In [16]:
games = games.drop("img", axis=1)

In [18]:
games["release_date"] = pd.to_datetime(games["release_date"])

In [21]:
games[["publisher","developer"]] = games[["publisher","developer"]].fillna("Unknown")

In [24]:
games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18922 entries, 0 to 18921
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         18922 non-null  object
 1   console       18922 non-null  object
 2   genre         18922 non-null  object
 3   publisher     18922 non-null  object
 4   developer     18922 non-null  object
 5   critic_score  4126 non-null   float64
 6   total_sales   18922 non-null  float64
 7   na_sales      12637 non-null  float64
 8   jp_sales      6726 non-null   float64
 9   pal_sales     12824 non-null  float64
 10  other_sales   15128 non-null  float64
 11  release_date  18832 non-null  datetime64[ns]
 12  last_update   4019 non-null   object
dtypes: datetime64[ns](1), float64(6), object(6)
memory usage: 2.0+ MB

In [25]:
games["year"] = games["release_date"].dt.year

In [30]:
games["year"] = games["year"].astype("Int64")

In [42]:
sales_cols = ["na_sales", "jp_sales", "pal_sales", "other_sales"]
games[sales_cols] = games[sales_cols].fillna(0)

In [43]:
games["calculated_total"] = games[sales_cols].sum(axis=1)

In [45]:
games["difference"] = (games["calculated_total"] - games["total_sales"]).round(2)
incorrect_rows = games[games["difference"].abs() > 0.01]
print("Number of inconsistent rows:", len(incorrect_rows))

Number of inconsistent rows: 9

In [50]:
games[games["difference"].abs() > 0.01]

,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update,year,calculated_total,difference
549,Forza Horizon,X360,Racing,Microsoft Studios,Playground Games,NaN,1.94,0.82,0.04,0.94,0.16,2012-10-23,2018-01-16,2012,1.96,0.02
747,Far Cry 2,X360,Shooter,Ubisoft,Ubisoft Montreal,8.5,1.59,0.72,0.02,0.69,0.18,2008-10-21,NaN,2008,1.61,0.02
914,Need for Speed: Undercover,PS2,Racing,Electronic Arts,EA Vancouver,NaN,1.40,0.38,0.03,0.08,0.93,2008-11-17,NaN,2008,1.42,0.02
3410,Dynasty Warriors: Gundam 2,PS3,Action,Namco Bandai,Omega Force,5.9,0.49,0.09,0.32,0.07,0.03,2009-04-21,NaN,2009,0.51,0.02
4183,No More Heroes 2: Desperate Struggle,Wii,Action,Ubisoft,Grasshopper Manufacture,8.5,0.40,0.20,0.04,0.11,0.03,2010-01-26,NaN,2010,0.38,-0.02
4561,Sniper: Ghost Warrior 3,PS4,Shooter,City Interactive,City Interactive,NaN,0.36,0.14,0.03,0.15,0.06,2017-04-25,2018-05-29,2017,0.38,0.02
5790,R.U.S.E.,X360,Strategy,Ubisoft,Eugen Systems,8.0,0.27,0.12,0.00,0.11,0.02,2010-09-07,NaN,2010,0.25,-0.02
11258,Warriors Orochi 3 Hyper,WiiU,Action,Tecmo Koei,Koei,NaN,0.08,0.04,0.02,0.03,0.01,2012-11-18,2020-09-13,2012,0.10,0.02
11794,RPG Maker: Fes,3DS,Role-Playing,NIS America,Kadokawa Games,7.0,0.07,0.03,0.02,0.00,0.00,2017-06-27,2018-04-22,2017,0.05,-0.02

In [51]:
games.describe()

,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,year,calculated_total,difference
count,4126.000000,18922.000000,18922.000000,18922.000000,18922.000000,18922.000000,18832,18832.0,18922.000000,18922.000000
mean,7.101890,0.349113,0.176806,0.036357,0.101302,0.034411,2008-04-02 22:17:32.166524928,2007.686916,0.348875,-0.000238
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1977-01-01 00:00:00,1977.0,0.000000,-0.020000
25%,6.300000,0.030000,0.000000,0.000000,0.000000,0.000000,2004-09-27 00:00:00,2004.0,0.030000,0.000000
50%,7.300000,0.120000,0.050000,0.000000,0.010000,0.010000,2008-10-21 00:00:00,2008.0,0.120000,0.000000
75%,8.100000,0.340000,0.170000,0.020000,0.070000,0.020000,2011-11-08 00:00:00,2011.0,0.340000,0.000000
max,10.000000,20.320000,9.760000,2.130000,9.850000,3.120000,2020-12-31 00:00:00,2020.0,20.330000,0.020000
std,1.439307,0.807462,0.423133,0.111918,0.330707,0.114541,NaN,6.028529,0.807675,0.004898

In [52]:
avg_sales_by_genre = games.groupby("genre")["total_sales"].mean().sort_values(ascending=False)
print(avg_sales_by_genre)

genre
Sandbox             1.890000
Shooter             0.670370
Action-Adventure    0.562576
Sports              0.457262
Action              0.396580
Fighting            0.391653
Racing              0.367400
Platform            0.367140
Music               0.352041
MMO                 0.310333
Role-Playing        0.286251
Misc                0.278338
Simulation          0.268198
Education           0.242500
Party               0.214138
Puzzle              0.176044
Adventure           0.171891
Strategy            0.144280
Board Game          0.110000
Visual Novel        0.026514
Name: total_sales, dtype: float64

In [55]:
top_genre = avg_sales_by_genre.idxmax()
top_sales = avg_sales_by_genre.max()
print(f"The genre with the highest average total sales is '{top_genre}' with {top_sales:.2f} million units sold on average.")

The genre with the highest average total sales is 'Sandbox' with 1.89 million units sold on average.

In [59]:
minecraft_rows = games[games["title"].str.contains("Minecraft", case=False, na=False)]
minecraft_rows

,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update,year,calculated_total,difference
54,Minecraft,PS4,Misc,Sony Computer Entertainment,Mojang,9.4,6.33,1.89,0.35,3.13,0.96,2014-10-07,2018-09-14,2014,6.33,-0.00
58,Minecraft,PS3,Misc,Sony Computer Entertainment America,Mojang,NaN,6.05,2.21,0.00,2.86,0.99,2014-05-16,2018-08-05,2014,6.06,0.01
69,Minecraft,XOne,Misc,Microsoft Studios,Mojang,NaN,5.43,3.23,0.00,1.71,0.49,2014-11-18,2018-09-14,2014,5.43,0.00
366,Minecraft,PSV,Misc,Sony Computer Entertainment America,4J Studios,NaN,2.47,0.22,1.25,0.73,0.27,2014-11-11,2018-08-05,2014,2.47,0.00
571,Minecraft,NS,Sandbox,Mojang,4J Studios,9.2,1.89,0.69,0.52,0.56,0.12,2018-06-21,2019-01-26,2018,1.89,0.00
849,Minecraft,WiiU,Misc,Mojang,4J Studios,5.5,1.47,0.50,0.38,0.49,0.09,2016-06-17,2018-08-05,2016,1.46,-0.01
1167,Minecraft: Story Mode,X360,Adventure,Mojang,Telltale Games,NaN,1.20,0.67,0.00,0.42,0.11,2015-10-27,2018-01-13,2015,1.20,0.00
1737,Minecraft: Story Mode,PS3,Adventure,Mojang,Telltale Games,NaN,0.89,0.32,0.00,0.43,0.15,2015-10-27,2018-01-13,2015,0.90,0.01
1793,Minecraft: Story Mode,PS4,Adventure,Mojang,Telltale Games,NaN,0.87,0.31,0.00,0.42,0.14,2015-10-27,2018-01-13,2015,0.87,0.00
2074,Minecraft: Story Mode,XOne,Adventure,Mojang,Telltale Games,NaN,0.77,0.46,0.00,0.24,0.07,2015-10-27,2018-01-13,2015,0.77,0.00
3620,Minecraft: Story Mode - The Complete Adventure,NS,Adventure,Telltale Games,Telltale Games,NaN,0.46,0.27,0.00,0.15,0.04,2017-08-22,2018-08-07,2017,0.46,0.00
4477,Minecraft,3DS,Misc,Nintendo,Other Ocean Interactive,6.7,0.37,0.33,0.00,0.00,0.04,2017-11-10,2018-08-05,2017,0.37,0.00
5781,Minecraft: Story Mode - Season Two,XOne,Adventure,Telltale Games,Telltale Games,NaN,0.27,0.17,0.00,0.08,0.02,2017-09-19,2018-08-07,2017,0.27,0.00
9955,Minecraft: Story Mode - Season Two,PS4,Adventure,Telltale Games,Telltale Games,NaN,0.11,0.09,0.00,0.00,0.02,2017-09-19,2018-08-07,2017,0.11,0.00
10899,Minecraft: Story Mode - Season Two,X360,Adventure,Telltale Games,Telltale Games,NaN,0.08,0.05,0.00,0.02,0.01,2017-10-03,2018-08-07,2017,0.08,0.00
11862,Minecraft: Story Mode,WiiU,Adventure,Mojang,Telltale Games,NaN,0.07,0.04,0.00,0.03,0.01,2016-12-13,2018-03-22,2016,0.08,0.01
15703,Minecraft: Story Mode - Season Two,PC,Adventure,Telltale Games,Telltale Games,NaN,0.02,0.00,0.00,0.02,0.00,2017-09-19,2018-08-07,2017,0.02,0.00
15941,Minecraft: Story Mode - Season Two,NS,Adventure,Telltale Games,Telltale Games,NaN,0.02,0.02,0.00,0.00,0.00,2018-11-06,2018-08-07,2018,0.02,0.00

In [60]:
games = games.drop(["calculated_total", "difference"], axis=1)

In [61]:
games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18922 entries, 0 to 18921
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         18922 non-null  object
 1   console       18922 non-null  object
 2   genre         18922 non-null  object
 3   publisher     18922 non-null  object
 4   developer     18922 non-null  object
 5   critic_score  4126 non-null   float64
 6   total_sales   18922 non-null  float64
 7   na_sales      18922 non-null  float64
 8   jp_sales      18922 non-null  float64
 9   pal_sales     18922 non-null  float64
 10  other_sales   18922 non-null  float64
 11  release_date  18832 non-null  datetime64[ns]
 12  last_update   4019 non-null   object
 13  year          18832 non-null  Int64
dtypes: Int64(1), datetime64[ns](1), float64(6), object(6)
memory usage: 2.2+ MB

In [62]:
games.to_csv("vgchartz-2024_cleaned.csv", index=False)

In [63]:
pip install mysql-connector-python sqlalchemy

Collecting mysql-connector-pythonNote: you may need to restart the kernel to use updated packages.

  Downloading mysql_connector_python-9.6.0-cp312-cp312-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: sqlalchemy in c:\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Downloading mysql_connector_python-9.6.0-cp312-cp312-win_amd64.whl (16.5 MB)
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/16.5 MB 2.1 MB/s eta 0:00:08
   --- ------------------------------------ 1.3/16.5 MB 3.2 MB/s eta 0:00:05
   ---- ----------------------------------- 1.8/16.5 MB 3.1 MB/s eta 0:00:05
   ------ --------------------------------- 2.6/16.5 MB 3.2 MB/s eta 0:00:05
   -------- ------------------------------- 3.4/16.5 MB 3.2 MB/s eta 0:00:05
   --------- ------------------------------ 3.9/16.5 MB 3.1 MB/s eta 0:00:05
   ---------- ----------------------------- 4.5/16.5 MB 3.1 MB/s eta 0:00:04
   ------------- -------------------------- 5.5/16.5 MB 3.2 MB/s eta 0:00:04
   --------------- ------------------------ 6.3/16.5 MB 3.3 MB/s eta 0:00:04
   ---------------- ----------------------- 6.8/16.5 MB 3.3 MB/s eta 0:00:03
   ------------------ --------------------- 7.6/16.5 MB 3.3 MB/s eta 0:00:03
   -------------------- ------------------- 8.4/16.5 MB 3.3 MB/s eta 0:00:03
   ---------------------- ----------------- 9.2/16.5 MB 3.4 MB/s eta 0:00:03
   ------------------------ --------------- 10.0/16.5 MB 3.4 MB/s eta 0:00:02
   -------------------------- ------------- 10.7/16.5 MB 3.4 MB/s eta 0:00:02
   --------------------------- ------------ 11.5/16.5 MB 3.4 MB/s eta 0:00:02
   ----------------------------- ---------- 12.3/16.5 MB 3.5 MB/s eta 0:00:02
   ------------------------------- -------- 12.8/16.5 MB 3.4 MB/s eta 0:00:02
   --------------------------------- ------ 13.6/16.5 MB 3.4 MB/s eta 0:00:01
   ---------------------------------- ----- 14.2/16.5 MB 3.3 MB/s eta 0:00:01
   ---------------------------------- ----- 14.4/16.5 MB 3.2 MB/s eta 0:00:01
   ------------------------------------ --- 15.2/16.5 MB 3.3 MB/s eta 0:00:01
   -------------------------------------- - 15.7/16.5 MB 3.3 MB/s eta 0:00:01
   ---------------------------------------- 16.5/16.5 MB 3.2 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.6.0

In [64]:
from sqlalchemy import create_engine

In [67]:
engine = create_engine("mysql+mysqlconnector://root:DjKiNg1512*@localhost:3306/games")

In [68]:
games.to_sql(name="games",con=engine, if_exists="replace", index=False)

18922